[2021-04-17 01:54] wfmackey opened #1 "factor variants of labels: keep them or nah?"
Currently the structures have factor variants of category names with the suffix `_f`, eg:

[code]

Is it worth keeping these? Or do they just add unnecessary bulk to the tibbles?

[2021-04-17 01:57] wfmackey opened #2 "numeric codes are currently stored as characters: good idea or nah?"
Numeric codes are currently stored as characters rather than integers. This was originally done to preserve leading zeros that accompany some codes, some of the time. (eg "01", "02" etc, in the ASCED field of education structure). But it will likely cause issues with others.

Should they be stored as an integer? Or should there be an additional variable containing the integer variants?

[2021-04-17 02:01] wfmackey opened #3 "Set up github actions"

[2021-04-17 02:03] wfmackey opened #4 "Add detailed explanation of how to contribute to this package"
To encourage/allow members of the runapp group to contribute to this package, it'd be useful to detail the steps to actually do it.

This could be hosted entirely on the README, or the README could point to a blogpost/explainer hosted elsewhere.

[2021-04-17 02:04] wfmackey commented on #3
Set up with all checks passing.

[2021-04-17 02:04] #3 closed

[2021-04-17 02:25] wfmackey opened #5 "Add correspondence functions"
From and to various versions of structures (eg ASCO to ANZSCO).

Could be population-weighted options for imperfect correspondence?

[2021-04-17 02:36] bryceroney opened #6 "ASGS structures and correspondences"
Would ASGS structures and correspondences be useful?

[2021-04-17 02:53] wfmackey commented on #6
I reckon it'd be worth having in abscorr. They currently live in the [absmapsdata](https://github.com/wfmackey/absmapsdata) package as `sf` files with geometrics attached. So we could:

1. import those `sf` objects (and non-sf variants) from the `absmapsdata` package, keeping both acrtive; or
2. copy the files across and have everything live under the `abscorr` roof, and I will depreciate the `abs

[2021-04-17 02:59] mrjoh3 opened #7 "Setup documentation using pkgdown"
pkgdown is a great way to display documentation and vignettes. I am happy to make a start (if you have not already) and submit a pull request

[2021-04-17 03:13] wfmackey commented on #7
Excellent idea! Go for it.

[2021-04-17 03:24] wfmackey commented on #6
I'll do 1. now

[2021-04-17 03:44] MattCowgill commented on #1
I vote `nah`

[2021-04-17 05:38] daviddiviny opened #10 "Write a function to match messily-named ABS categories (similar to `strayr` for states)"
I would like to write a function that is equivalent to the matching functionality of the `strayr` [package](https://github.com/MattCowgill/strayr).

This is currently an open [issue](https://github.com/MattCowgill/readabs/issues/124) in `readabs`.

This would help with the issue that the part of the ABS that publishes the weekly payroll and wages data likes to prepend numbers and letters and take

[2021-04-17 08:19] wfmackey commented on #10
Love it. Would be useful for **lots** of structures, and seems relatively easy to implement.

Do you envision a common 'correct' database of names that things are matched to? (ie whatever is in the official ABS documentation, drawn from `abscorr`).

And should the user need to provide the structure, eg:

[code]

and the level? eg

[code]
or
[code]

the above would help if we wanted to enter the fu

[2021-04-17 08:23] wfmackey commented on #10
(I think the latter is the best)

[2021-04-17 08:35] wfmackey commented on #10
Something like this @daviddiviny? Could be pretty easily expanded to a `clean_abs_names()` function:

[code]

<sup>Created on 2021-04-17 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0.9001)</sup>

[2021-04-17 09:13] wfmackey commented on #6
Just thinking about this some more. We want users who `library(abscorr)` to be able to immediately call the geometries used in `absmapsdata`, with their documentations, eg:

[code]

I'm not sure about the best way to do this. We want both the data and the object documentation ported over from the `absmapsdata` package, in a neat way that would automatically update if `absmapsdata` is updated.

One

[2021-04-17 10:05] HughParsonage commented on #6
`Depends: absmapsdata` ?

[2021-04-18 00:28] wfmackey commented on #6
Of course! That works. My goodness.

[2021-04-18 00:38] #6 closed

[2021-04-18 00:38] wfmackey opened #12 "add ASGS detailed to README"

[2021-04-18 00:47] #12 closed

[2021-04-18 01:39] wfmackey opened #13 "include non-ABS structures?"
eg National Skills Commission's recent Australian Skills Classification.

I think it would be useful?

[2021-04-18 01:40] wfmackey commented on #1
yeah I agree FINE

[2021-04-18 02:01] MattCowgill commented on #13
I agree it would be useful. Maybe the package should be called `auscorr` or something if it's scope is going to be broader than ABS structures?

[2021-04-18 02:47] wfmackey commented on #13
Woah huge. Currently the `absmapsdata` has a bunch of non-ABS structures (eg postcodes), and I don't think it causes _too_ much confusion. But it would make sense to rename while we can.

[2021-04-18 11:54] wfmackey commented on #7
Thanks @mrjoh3. The pkgdown website can now be found here: https://runapp-aus.github.io/abscorr/

[2021-04-18 12:04] wfmackey commented on #7
Ah, sorry, the `docs/` folder hasn't been uploaded to Github (it is in `.gitignore`), so I can't point Github Pages to it. @mrjoh3 can you remove this from `.gitignore`? Or is there a better way?

[2021-04-18 12:59] wfmackey commented on #7
Fixed in #16

[2021-04-18 12:59] #7 closed

[2021-04-18 23:35] daviddiviny opened #17 "Consistent naming convention for structures?"
I don't really care what it is (but I am sure I will have opinions) but we should try and be consistent early on to make life easier in the future.

Already the column-naming conventions of `anzsco` are `anzsic` are inconsistent.

![image](https://user-images.githubusercontent.com/6833387/115165715-90fd9600-a0f2-11eb-95bc-adc7a2361871.png)

[2021-04-19 00:14] wfmackey commented on #17
Agree! Starting out, my preference was to use digits as the levels in column names (`anzsco1` = 1 digit, etc). But this fell down at ANZSIC, which doesn't represent its levels with digits.

Given ANZSIC, the only consistent way is to use the names used in each of the structures. So:

[code]

This is probably sensible!

[2021-04-19 00:19] wfmackey opened #18 "Add functions for parsing income buckets"
something like

[code]

which adds three variables (`low_`, `mid_` and `high_income`). Or maybe best to keep it as a function which returns a vector so can be used inside a `mutate` call, eg

[code]

[2021-04-19 03:18] mrjoh3 opened #19 "add function to return SEIFA scores per various spatial structures"
SEIFA scores are available at https://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/2033.0.55.0012016?OpenDocument for a number of spatial areas. LGA is at  a reasonable size for Aus wide coverage.

@wfmackey is the intention of the package to store the data in the package or for the user to download from ABS when needed. The LGA excel is ~700kb. So if data stored in package it might get very big v

[2021-04-19 03:27] MattCowgill commented on #18
you better believe I stuck an 👀 emoji on this

[2021-04-19 03:28] MattCowgill commented on #13
Yeah fair, I don't think it's a huge issue if a package with `abs` in the name contains non-ABS stuff. But better to actively make that decision one way or the other now.

[2021-04-19 03:32] wfmackey commented on #4
This should also include what steps are required to update the `pkgdown` site. @mrjoh3 can you post them here?

[2021-04-19 05:17] daviddiviny commented on #17
Sensible but not strictly tidy is it? In that there is information in column name?

[2021-04-19 05:18] daviddiviny commented on #17
That is not necessarily a problem.

[2021-04-19 07:25] mrjoh3 commented on #19
the structure of the excel files are similar enough for lga, postcode, suburb, sa2 and sa1. So I will add option to pick the spatial area returned

[2021-04-19 07:27] wfmackey opened #20 "is `abscorr` a good name?"
Mentioned by a couple of people now, on both the `abs` and the `corr` portions of the name (100% of the name for those counting).

@MattCowgill (https://github.com/runapp-aus/abscorr/issues/13#issuecomment-821917024) noted that if the package would include non-ABS structures, it might be better to name it something like `auscorr`.

@lazappi mentioned:

Combining these ideas gives `auscore`, which

[2021-04-19 07:48] wfmackey commented on #20
Some unimaginative options:

- `abscorr`: ABS correspondences
- `abscat` or `catabs: a catalogue of ABS structures
- `acoas`: A Catalogue Of ABS Structures
- `absstructures`: maybe too long; don't like the double s
- `ausdata`: cast a wide net that leaves more room to move, but not very explicit about what the package aims to do now; surprisingly doesn't look like it's taken yet.
- `ausdatastructu

[2021-04-19 07:56] wfmackey commented on #19
Love it.

For this, and more broadly, it might be good to have some distinction between `structures` and `data`.

- `structures` should link to a specific ABS (and non-ABS) data structures/standards (ANZSCO, ASCED, ASGS, etc). There aren't _too many_ of these that they can't be stored within the package as compressed `rda` or `sf` objects.

- `data` should be commonly-used(?) aggregated data that

[2021-04-19 07:58] wfmackey commented on #13
Let's leave the package open to including non-ABS structures, with the inclusion criteria that it is a structure developed by an official organisation in Australia.

New issue #20 for whether we should rename the package to make this more explicit.

[2021-04-19 07:58] #13 closed

[2021-04-19 08:34] mrjoh3 commented on #4
@wfmackey can do. If you look at the pkgdown repo they have a CONTRIBUTING.md and CODE_OF_CONDUCT.md files within the .github folder,  [see here](https://github.com/r-lib/pkgdown/blob/master/.github/CONTRIBUTING.md). It look like these get picked up automatically when the pkgdown site renders.

If you agree I will create the two files and add a section to contributing on pkgdown?

[2021-04-19 08:34] mrjoh3 commented on #4
for the code of conduct I will copy across the runapp COD https://runapp-aus.github.io/runapp_website/code-of-conduct.html

[2021-04-19 08:39] wfmackey commented on #4
Excellent! Go for it.

[2021-04-19 08:42] nerskin commented on #2
What issues will using strings cause? The codes are not numbers, and you shouldn't ever be doing arithmetic with them.

[2021-04-19 08:45] nerskin commented on #2
Also: using strings is a more natural way of working with codes where hierarchies in the classifications are represented using prefixing

[2021-04-19 08:47] wfmackey commented on #17
True! It isn't strictly tidy. Do you think it should be?

Where I have this package in the past, it has almost entirely been in this way:

[code]

and so having the `abscorr::anzsco` dataset in its wide form is useful.

For a tidy alternative, something like:

[code]
what would the use case be? (I'm sure there are plenty!)

[2021-04-19 09:42] nerskin commented on #2
Also also: meshblock ids are too big to represent as 32-bit integers! They're eleven digits and get converted to floating point if you try

[2021-04-19 10:15] wfmackey commented on #2
Good good good reasons for "nah". The only use-case is reading a csv/excel file in, where the codes will be converted to numerics by default, and then trying to `_join`. But that is not a good reason.

[2021-04-19 10:16] #2 closed

[2021-04-19 10:42] wfmackey opened #21 "Dependencies"
As we move into more functions -- eg #18 -- dependencies will become more of an issue. For example, whether `abscorr` requires `tidyverse` (or specific packages/functions), or `data.table`, or both, or neither, etc.

I'm not hugely knowledgeable in this area. Does anyone have any suggestions/thoughts about a dependency policy?

[2021-04-19 22:08] MattCowgill commented on #20
I'm not into `absstructures` but don't hate any of the others. I'd probably lean towards `auscore` or `ausdata` but I don't think it's a problem to keep `abs` in the name

[2021-04-19 23:38] wfmackey opened #24 "A convention for functions"
See: https://github.com/runapp-aus/abscorr/pull/23#issue-617956177

I think we have to make a decision on a prefix for data retrieval functions from `abscorr`, and develop a convention for what is attached to a function, what is included in an argument, etc.

The prefix can some something simple and consistent, maybe `getdata_`.

The convention should include standard positions for `<connecting st

[2021-04-19 23:40] wfmackey opened #25 "add devtools::document() and pkgdown::build_site() to github actions"
re: https://github.com/runapp-aus/abscorr/pull/23#issue-617956177

[2021-04-20 04:21] mrjoh3 commented on #24
ha, I have built an entire internal package for accessing data that I called getdata. Great minds and all that.

what about just "get_"? from the options above I think I prefer number 2.
[code]
it matches best at least in the seifa case

[2021-04-20 04:37] wfmackey commented on #24
Yep, let's run with that for now. And I am fine with `get_` as the prefix, eg `get_seifa`. We'll re-assess once a few datasets have been built in, see how it's working etc.

More generally in terms of `data`, down the line we should also think about:

1. what `data` the package should contain. For example, restricting it to data that can be matched to an existing structure. I also want to make sur

[2021-04-20 11:35] mrjoh3 commented on #19
working draft completed at 1eeecf31bbf828b07c948f850f86fb54b5641433 will add to tests and docs before closing

[2021-04-20 11:42] mrjoh3 commented on #21
I don't have a strong opinion but I think the less dependencies the better. Maybe we just need a rough guide of sticking with already imported packages "as much as possible". But I am also curious to hear other peoples opinions.

[2021-04-20 11:47] wfmackey commented on #25
#26 has automated `pkgdown::build_site()` via github actions.

[2021-04-21 00:17] symbalex opened #27 "Can't install"
Hi! I can't install this package. I think it is because of an issue installing `absmapsdata`

[code]

System info:

[code]

[2021-04-21 03:51] wfmackey commented on #27
@symbalex -- I can't recreate your installation error in any of the virtual environments I tried (see below).

Could you try installing absmapsdata by itself with:
[code]

This was me installing `abscorr` on RStudio Cloud just now:
[code]

[2021-04-21 04:14] symbalex commented on #27
Unfortunately still doesn't work!

[code]

I tried removing my `GITHUB_PAT` but that didn't change anything. Also tried it on my mobile data (in case there was a firewall block I didn't know about). Also same error

BUT then I tried it on a Linux box. And it all installed fine. So maybe it's my Mac being dodgy. 🙃😫

[2021-04-21 04:20] symbalex commented on #27
aha

[code]

It was timing out the download - obviously my internet is too slow!

[2021-04-21 04:33] wfmackey commented on #27
aha! I wrote the whole thing on a Mac so would have been surprised if it were a Mac issue. And yeah, the `absmapsdata` package is a little chunks (>10mb) so that makes sense. Sorry for your slow internet!

[2021-04-21 04:33] #27 closed

[2021-04-21 22:29] MattCowgill commented on #20
🚀

[2021-04-22 06:03] daviddiviny commented on #20
What about `appcat` - Australian Public Policy Categorisations? That way it can have a link to `runapp`?

[2021-04-22 07:54] mrjoh3 commented on #20
I write like appcat or ausdata, for simplicity perhaps ausdata is the clearest

[2021-04-26 09:26] daviddiviny commented on #17
I don't think it does need to be tidy, but we could consider having a tidy version? It could be useful if people have mashed up different hierarchies or you want to look up the level?

[2021-04-26 12:19] wfmackey commented on #20
I like `appcat` (the sticker writes itself), and `ausdata`. I would prefer `appcat` if the package focussed solely on common Australian data classifications; and `ausdata` if the package is likely to grow to include more _data_ (see https://github.com/runapp-aus/abscorr/issues/24#issuecomment-822967415)

Given the latter looks to be more likely, I may be in favor of `ausdata`?

[2021-04-26 12:20] wfmackey commented on #10
@daviddiviny do you want to do this?

[2021-04-26 12:35] wfmackey commented on #17
Good idea!

[2021-04-28 00:58] daviddiviny commented on #10
Yep.

[2021-05-02 01:27] MattCowgill commented on #20
`ausdata` gives a clearer sense of what the package does, it gets my vote

[2021-05-02 03:17] daviddiviny commented on #20
To me `ausdata` sounds like a package full of data. How about `ausdatatools`? - Tools for working with Australian data.

[2021-05-02 05:33] daviddiviny commented on #17
And can we agree that any column will append the word `code` if it is some kind of alphanumerical code?

[2021-05-02 06:51] daviddiviny commented on #10
Hi @MattCowgill  and @wfmackey  and anyone else.

I'd appreciate your feedback on how this function is shaping up. It is on the `clean_anzsic` branch.

I've written a bunch of helper functions in the [clean_helpers.R](https://github.com/runapp-aus/abscorr/blob/clean_anzsic/R/clean_helpers.R) script. The idea is that it should make it easy to create new `clean_` functions through using the `make_di

[2021-05-02 21:23] MattCowgill commented on #20
Fair point @daviddiviny.

Another alternative: I’d be happy to donate the name `strayr` and bring over the functions from that package

[2021-05-06 06:43] bryceroney commented on #4
Just realised I've been assigned to this! Happy to help if there is anything in particular? @mrjoh3  are you still working on a CONTRIBUTING.md file?

[2021-05-06 07:22] bryceroney commented on #4
Silly me, it's already been added. I assume this issue can be closed then?

[2021-05-06 09:24] mrjoh3 commented on #4
@bryceroney I put the CONTRIBUTING file together pretty quickly, I suspect it could do with more detail and addition sections could be added.

[2021-05-07 00:05] bryceroney commented on #4
Cool, I'll take a better look over the weekend. As well as Issue/PR templates etc.

[2021-05-11 13:15] wfmackey commented on #20
They're all fine names! From the above there are a few good options that people are mostly happy with below. I will include the _very_ generous offer from @MattCowgill of `strayr` because it is my favourite package name of all time and it would be great for this package to include those functions.

If you care, vote in the poll below by Friday. Pros and cons for each of these, but we gotta land on

[2021-05-11 13:19] wfmackey commented on #20
They're all fine names! From the above there are a few good options that people are mostly happy with below. I will include the _very_ generous offer from @MattCowgill of `strayr` because it is my favourite package name of all time and it would be great for this package to include those functions.

If you care, vote in the poll below by Friday. Pros and cons for each of these, but we gotta land on

[2021-05-11 13:20] wfmackey commented on #20
(lol a poll is meant to appear: https://github.com/evenchange4/gh-polls-bot)

[2021-05-11 13:22] wfmackey commented on #20
Vote via emoji reaction:

🎉  `strayr`
🚀  `ausdatatools`
😄 `appcat`
👀  `runappcat`

[2021-05-11 22:26] bryceroney commented on #25
Looks like my most recent PR killed website updating, just need to change the github pages source from the `docs` folder to the `gh-pages` branch.

![image](https://user-images.githubusercontent.com/6660301/117892192-9e75fc80-b2fb-11eb-95a9-904b73131e67.png)

[2021-05-11 23:51] rensa commented on #20
If the package includes non-ABS data, what other kinds of data does it include? `ausdata` is nice but very broad!

[2021-05-14 09:30] adam-gruer commented on #20
ozcodes

[2021-05-14 09:37] adam-gruer commented on #20
classyoz ozclassi

[2021-05-15 00:00] daviddiviny commented on #10
I think the major question I have is whether `return_na` should be an argument (set to TRUE) or whether it should always return NA.

Also, should the functionality of `strayr` be imported and refactored using this approach @MattCowgill ?

[2021-05-15 00:39] adam-gruer commented on #20
I rules

[2021-05-15 00:41] adam-gruer commented on #20
Ozrachies

[2021-05-15 07:49] MattCowgill commented on #10
Hi @daviddiviny, your approach in `clean_helpers` looks good to me.
Yes, I think `strayr`'s functions should probably be brought into this package (and maybe the name donated as well?).  And yep refactoring using your functions makes sense to me

[2021-05-15 08:21] MattCowgill commented on #17
makes sense to me @daviddiviny

[2021-05-17 02:54] #19 closed

[2021-05-19 21:55] daviddiviny opened #31 "Typos in `anzsic` dataset documentation"
Still refers to ANZSCO.

![image](https://user-images.githubusercontent.com/6833387/118889588-ac9dcb80-b940-11eb-90fa-2e39a717eba3.png)

[2021-05-20 23:55] daviddiviny commented on #24
Also, I would suggest:
- `clean_` for the functions that standardise and returns the official title.
- `return_` for a family of functions that return the code or the level etc for a title - need to think about this one a bit more.

Should all this be documented in a wiki? @wfmackey

[2021-05-20 23:58] daviddiviny commented on #10
To dos:
[ ] anzsic
[ ] anzsco
[ ] strayr
[ ] asced

[2021-05-30 13:12] #31 closed

[2021-05-30 13:26] wfmackey commented on #25
Sorry for being slow on this. Fixed now.

[2021-05-30 13:26] #25 closed

[2021-05-30 13:27] wfmackey opened #33 "Make authors appear on pkgdown page"
Currently this the 'Developers' section of the pckdown page:
![image](https://user-images.githubusercontent.com/30094143/120106404-27b47c80-c1a0-11eb-8e74-6944083d8025.png)
which needs to be expanded to include all contributors. I have tried adding `c("aut", "cre")` to authors on DESCRIPTION (https://github.com/runapp-aus/abscorr/commit/2963b1038bf4fd52eac2d7f5badeb48f3f3dee76), but not appearing

[2021-05-30 13:31] wfmackey commented on #17
@daviddiviny this week I'll rename these variables (and make all required changes in the package, including in your #32 functions/tests. I'll also remove the factor variants (re the Original Issue: #1).

[2021-05-30 13:42] #1 closed

[2021-05-30 13:42] wfmackey commented on #24
A wiki is a great idea, @daviddiviny !

[2021-05-30 22:09] wfmackey opened #35 "Rename package `strayr`, port `strayr` functions, and update package documentation for changes"
re #20 . @MattCowgill will port `mattcowgill/strayr` functions.

- [x] port `strayr` functions
- [x] rename package

[2021-05-30 22:30] MattCowgill commented on #35
FYI @bryceroney as a contributor to `strayr`, just letting you know that we're going to:
1. Rename `abscorr` to `strayr`; and
2. Bring in all the functions from the existing `strayr` package (including yours related to public holidays) to this package.

[2021-05-30 23:43] MattCowgill commented on #24
FYI @daviddiviny I've opened a PR to merge the `strayr` package with this package. The `strayr` function has been renamed `clean_state()` (though `strayr()` still works as a wrapper around `clean_state()`).

[2021-05-31 00:58] #20 closed

[2021-05-31 00:59] #10 closed

[2021-05-31 00:59] #17 closed

[2021-05-31 01:12] bryceroney commented on #35
No dramas @MattCowgill. I'll put in a PR to update the pkgdown site to include the references.

[2021-05-31 01:22] wfmackey opened #38 "TableBuilder download helpers"
Maybe around reading files in, removing totals columns, other tasks common to using TabelBuilder data

[2021-05-31 01:24] wfmackey commented on #33
@bryceroney do you know what I'm missing here?

[2021-05-31 01:33] bryceroney commented on #33
I'll take a look while working on [#35](https://github.com/runapp-aus/abscorr/issues/35#issuecomment-851104333_)

[2021-05-31 01:50] bryceroney commented on #33
Worked it out, you need to [use `Authors@R`](https://r-pkgs.org/description.html?q=authors#author) in the `DESCRIPTION` file to be able to list multiple authors.

[2021-05-31 02:15] #33 closed

[2021-05-31 04:42] wfmackey commented on #35
Repo renamed! Hopefully it won't break anything, but I am sorry when it inevitably does.

[2021-05-31 05:00] bryceroney opened #41 "Move documentation examples to vignettes"
I was thinking as the functionality of the package grows, we could end up with a pretty long README so we could move them to vignettes and then reference in the README.

Any issues with that?

[2021-05-31 05:57] MattCowgill commented on #41
It'd be good if the README still gives a sense of what the package can do, but I agree it doesn't need comprehensive documentation of every function

[2021-05-31 07:31] daviddiviny commented on #41
Agree.

Maybe it should provide an overview of the overall structure of the package and the families of functions within:
- Data
- Cleaning
- etc

[2021-05-31 07:35] bryceroney commented on #41
Yes, agreed with both above. I think the Tidyverse packages find a good balance between detail and summary.

[2021-05-31 07:43] daviddiviny commented on #35
I've re-opened this issue @wfmackey as there seem to be a bunch of `strayr` eferences to the old name of `abscorr` (e.g. [here](https://github.com/runapp-aus/strayr/blob/64a8fa628fc8943eca7a61fc07e1e3eb3b9b38cb/DESCRIPTION#L1)).

I'm not sure of the systematic way to do this but this [blogpost](https://www.njtierney.com/post/2017/10/27/change-pkg-name/) from runapp-er njtierney looks useful.

[2021-05-31 11:44] wfmackey commented on #35
This has been done in #42

[2021-05-31 11:44] #35 closed

[2021-06-01 05:28] #21 closed

[2021-06-01 05:28] wfmackey commented on #21
Closing this. Feel free to re-open if you have _thoughts_.

[2021-06-01 22:33] martintburgess opened #44 "Add function to pull greatest level of defined detail from 'nfd' code"
We have a use case to take a "not further defined" ANZSIC and ANZSCO code or name and get the highest level of defined detail.

For example, from '2510' we would want "251" and from "Furniture Manufacturing, nfd" we would want "Furniture Manufacturing".

Appreciate it is usually just lopping off some characters at the end but could be helpful to include here.

cc @daviddiviny

[2021-06-01 22:56] wfmackey commented on #44
Good idea, @martintburgess. So maybe a `clean_nfd` or `validate_nfd` or `get_valid_nfd` function that:

[code]

and

[code]

Is that what you had in mind?

[2021-06-02 00:57] martintburgess commented on #44
Yes, that looks great thanks @wfmackey. Probably useful if it can take a vector input as well:

[code]

[2021-06-02 01:46] daviddiviny opened #45 "Add description of what each ANZSCO does?"
This is from the [Australian Skills Classification](https://www.nationalskillscommission.gov.au/australian-skills-classification-resources) .

![image](https://user-images.githubusercontent.com/6833387/120411421-1df56980-c398-11eb-933e-ae37a01a773f.png)

Is this part of the official definition of each ANSZCO occupation?

[2021-06-02 02:20] daviddiviny commented on #35
Does [Matt's github](https://github.com/MattCowgill/strayr) somehow need to mirror the runapp-aus version?

[2021-06-02 02:23] MattCowgill commented on #35
not sure how to do that... rename my existing repo and fork this repo?

[2021-06-02 02:33] bryceroney commented on #35
You could archive the repository, given the README points people to the new repo.

[2021-06-02 07:45] bryceroney commented on #41
Have been thinking also, some of the documentation could be handled by the actual reference documentation, e.g. the public holidays data.

[2021-06-02 09:20] wfmackey commented on #45
It is! eg: https://www.abs.gov.au/ausstats/abs@.nsf/Previousproducts/086CD5B0C140E5A2CA257B95001310B8?opendocument

Nice of the National Skills Commission to neatly collate it.

Do you think this should be added to `strayr::anzsco`? If so, because the ASC isn't an exhaustive list of all ANZSCO codes at all levels, we'll need to collect an exhaustive list ourselves.

Otherwise we can just import th

[2021-06-02 09:33] wfmackey opened #46 "add data: Australian Skills Classification"

[2021-06-02 09:34] wfmackey commented on #46
eg #45

[2021-06-02 09:46] wfmackey commented on #46
should this be:

- `australian_skills_classification` (too long?)
- `acs` (too short)
- `skills_classification` (confusing)

[2021-06-02 10:16] mrjoh3 commented on #46
how about `australian_skills` or `aus_skills`?

[2021-06-02 10:47] mrjoh3 opened #47 "Industry and Occupation Employment Trends"
Import quarterly employment numbers for ANZSIC sub-division and ANZSCO occupation major group. I think it would be good to get employment numbers to link up to ANZSIC and ANZSCO classifiers.

All data can be found at ABS labour force page https://www.abs.gov.au/statistics/labour/employment-and-unemployment/labour-force-australia-detailed/latest-release#industry-occupation-and-sector

specifically

[2021-06-02 13:15] wfmackey commented on #47
Can we make sure that there's no overlap between the [`readabs`](https://github.com/MattCowgill/readabs) package?

I see that Table 6 and 7 don't work with `readabs::read_abs(cat_no = "6291.0.55.001", table = c(6, 7))`:

[code]

and that downloading the whole catalogue doesn't return 6 or 7 either (see below). Not sure why, @MattCowgill ?

So maybe the data download/tidying is an issue for `readab

[2021-06-02 13:33] wfmackey commented on #41
I agree with all of the above. Maybe:

- README: outline of package, summary of families of functions
  - 'hey these functions/datasets exist'
- vignettes: detailed (but not exhaustive) demonstrations of function/dataset use (similar to what is in README now)
  - 'hey this is how you might use the functions/datasets, or how you would contribute to this package'.
- package documentation: exhaustive

[2021-06-02 13:36] wfmackey commented on #38
maybe an option for automatic renaming of columns (dangerous, I know); particularly ones that match with ABS structures within `strayr`, eg ANZSCO, ANZSIC.

Not sure about that

[2021-06-02 21:32] MattCowgill commented on #47
There’s an issue with that catalogue number in the Time Series Directory (API that readabs uses). The ABS is aware of it and I expect they’ll fix it today or tomorrow. https://github.com/MattCowgill/readabs/issues/156#issuecomment-848490586

[2021-06-02 21:33] MattCowgill commented on #47
Tables 6 and 7 usually import fine, and will again when the API is fixed

[2021-06-02 23:10] wfmackey commented on #47
@mrjoh3 does the `readabs` functionality meet your needs? Or did you have something else in mind?

[2021-06-03 01:16] mrjoh3 commented on #47
I will double check but I think you are right, will close this after checking output of readabs

[2021-06-03 01:20] MattCowgill commented on #47
While the API is broken (so `read_abs()` won't work for these tables), you can get them manually. This generates the same object as you'll get from `read_abs()` when that is working again:

[code]

<sup>Created on 2021-06-03 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-06-04 06:11] #18 closed

[2021-06-05 01:08] mrjoh3 commented on #41
In `pkgage` down the general use case is, the readme is for installation instructions and enough detail for people on github. Then you have a vignette with the package name that has more detailed information, then additional vignettes for specific topics.

I thought I had setup a vignette with the package name but had not added content yet. I will get this setup and report back

[2021-06-07 11:51] #45 closed

[2021-06-07 11:51] #46 closed

[2021-06-07 11:52] wfmackey commented on #41
Thanks @mrjoh3, @bryceroney and @MattCowgill for putting this together in #49 . Now to write some more vignettes!

[2021-06-07 11:52] #41 closed

[2021-06-07 12:31] wfmackey opened #50 "Add long versions of structures"
Currently wide, eg:

[code]

But there are use-cases for having this structure in long-form, as suggested by @daviddiviny .

[2021-06-07 12:36] wfmackey commented on #24
Thinking about this some more recently. The package contains 'families' of functions denoted by their prefix. So far we have:

- `clean_`: tools for converting a vector to an existing structure
- `parse_`: tools extracting usable data contained in a character vector commonly seen in Australian data (eg income buckets)
- `getdata_`: returning commonly-used data stored in the package that can be mat

[2021-06-15 05:33] MattCowgill commented on #24
`is_holiday` could become `parse_holiday` I reckon @bryceroney

[2021-06-15 22:54] bryceroney commented on #24
I am open to changing it, not sure if putting it in the `parse_` family is the best option though as those current functions are more about cleaning text rather than returning a boolean.

[2021-06-21 23:41] wfmackey opened #51 "Do structures need year/version suffixes?"
ANZSCO is getting a decent update at the end of 2021, likely (surely) to be used for the 2021 Census: https://www.abs.gov.au/articles/updating-australian-and-new-zealand-standard-classification-occupations. The ABS have also indicated that updates will be 'more regular and timely'.

Updating the `anzsco` object to include new classifications/remove old ones will be necessary, but will be backwards

[2021-06-22 02:04] MattCowgill commented on #51
So there are two questions:

1. Should `anzsco` et al get a year suffix?
2. Should `anzsco` et al still have an un-suffixed version.

I reckon the clear answer to (1) is 'yes'. On (2) I am torn. Leaning towards yes but not sure

[2021-06-22 02:16] wfmackey commented on #51
Agree re (1).

If we allow (2), users will _use_ un-suffixed versions that will mean their code will become outdated/problematic in unpredictable ways as ANZSCO is updated. So, should we allow that potentially unsafe behaviour?

[2021-06-22 02:54] MattCowgill commented on #51
Yeah good point... OK I guess I'm leaning towards `no` on (2) then but still not quite sure

[2021-06-22 04:12] daviddiviny commented on #51
I vote no on 2. I really like the absmapsdata convention.

On Tue, Jun 22, 2021 at 12:54 PM Matt Cowgill ***@***.***>
wrote:

[2021-06-22 04:26] wfmackey commented on #51
Safety first it is.

[2021-06-22 04:28] MattCowgill commented on #51
I'm happy with that

[2021-06-22 04:34] wfmackey commented on #51
This might allow for neater correspondence functions between two times, eg `get_correspondence(anzsco2006, anzsco2021)`

[2021-09-17 03:12] #51 closed

[2021-09-17 03:17] wfmackey opened #54 "Add absmapsdata retrieval functions; remove absmapsdata dependency"
The `absmapsdata` package is too big and causing issues (see https://github.com/wfmackey/absmapsdata/issues/44).

An option is to remove it as a depend from the `strayr` package, but include a function to download/import `absmapsdata` items on demand. Eg:

[code]

would be equivalent to `d <- absmapsdata::sa42016`

[2021-09-17 05:00] MattCowgill commented on #54
I like that idea

[2021-09-17 23:27] wfmackey opened #56 "Add more versions of ABS structures"
eg ANZSCO 2013, 2019. Current selections are arbitrary/silly.

[2021-10-12 05:24] wfmackey opened #58 "`parse_income_range` should work with ranges without $ prefixes"
At the moment, `parse_income_range` uses `$` to delimit ranges, leading to erroneous results where $ isn't used in the upper bound, eg:
[code]

This would be good to fix, and relatively easy.

[2021-10-14 03:34] daviddiviny opened #60 "remove create_income_sys_data.R"
The file `create_income_sys_data.R` needs this csv but it isn't committed to git.

[2021-10-14 04:40] wfmackey commented on #60
`create_income_sys_data.R` looks like an incomplete thought that I shouldn't have committed. I'll get rid of it.

[2021-10-14 06:53] #56 closed

[2021-10-14 06:53] #60 closed

[2021-10-14 06:56] wfmackey opened #62 "should this package go to CRAN"
When stable, should this package go to CRAN? Probably.

[2021-10-14 07:56] MattCowgill commented on #62
yes

[2021-10-14 21:06] wfmackey opened #63 "read_absmaps should have caching"
in a `tempdir()` unless specified by the user

[2021-10-15 04:51] #63 closed, assigned to nobody

[2021-10-15 07:49] daviddiviny opened #65 "Add 'unofficial' state colours to `clean_state`"
Recording a discussion from runapp.

[code]
ftr "Raiders Green" as the potential ACT colour i
[code]

[2021-10-16 05:30] daviddiviny opened #66 "Should "Other" in `clean_state` be "Other Territories"? This would be consistent with `absmapsdata`/ASGS?"
Any good reason @MattCowgill ? I'm happy to fix this up as part of the semi-official state colours?

[2021-10-16 10:34] wfmackey commented on #66
Makes sense to me, especially for cleaning before joining to `absmapsdata`

[2021-10-17 23:38] MattCowgill commented on #66
Yep, sure, makes sense

[2021-10-19 03:30] #47 closed

[2021-10-19 04:30] #65 closed

[2021-10-20 20:41] wfmackey opened #68 "`parse_income_range` is too slow"
The `parse_income_range` function is very inefficient/slow, and becomes unusable for larger (>1m) rows.

[2021-10-28 18:15] daviddiviny opened #69 "Add function to return the level of a classification?"
I was thinking that for example, this function would return the highest level (or all levels) for which a classification of an occupation exists.

For example:
`find_anzsco_level("Chief Executives, General Managers and Legislators")` would return `Sub-Major Group`

[2021-11-02 09:09] bennywee commented on #44
Hey @wfmackey, I'm getting a github authentication issue when I try to push commits up to a new branch directly.

Is the appropriate workflow:

1) Fork
2) Commit + push
3) PR

Or is there a way to authenticate + contribute directly to the repo?

[2021-11-02 10:51] wfmackey commented on #44
Hi @bennywee, my workflow tends to be:

New branch → commit directly to that branch → PR when done.

But forking should work, too.

Your authentication issue may need me to add you to the runapp-aus GitHub group. I'll do that now!

[2021-11-02 21:20] wfmackey commented on #44
and @bennywee maybe we should work through this issue on the Discussions tab? (could be useful for others!)

[2021-11-03 09:52] bennywee commented on #44
Great, thanks for that @wfmackey .  Turns out I also needed to set up SSH/PAT since github has removed password authentication. Happy to write up something for the discussion board if this is useful!

Back to clean_nfd: I have a basic version of the function [here.](https://github.com/runapp-aus/strayr/blob/clean-nfd-bennywee/R/clean_nfd.R) I've written it basically to remove instances of ", nfd"

[2021-11-03 11:15] wfmackey commented on #44
`clean_nfd` looks great, @bennywee. Are you looking to add the ability to detect and remove trailing zeros as well? eg

[code]

(otherwise I'm happy to add that when you submit a PR). Great stuff.

And re the SSH/PAT -- yes! Adding a note about that would be wonderful.

[2021-11-03 11:23] wfmackey commented on #44
Nice work on the tests, too. Can you submit a PR and we'll get it merged!

[2021-11-10 08:40] bennywee commented on #44
Hey @martintburgess , the `clean_nfd` function has been merged to the main branch (thanks @wfmackey!) Do you want to have a go and if you're happy I can close this issue.

[2021-11-10 20:49] martintburgess commented on #44
Thanks @bennywee, I will give this a go tomorrow, it's #71 - is that right?

[2021-11-11 21:57] bennywee commented on #44
@martintburgess yep that's the one! :)

[2021-11-12 02:42] bennywee commented on #68
@wfmackey do you have a minimum reproducible example using the datasets in strayr (or any reproducible example)?

Happy to look into this.

[2021-11-12 03:01] wfmackey commented on #68
Sure thing @bennywee , thanks! The way I implemented it (and as it stands now) is slow because it doesn't use vectorised versions of `str_` functions but rather `purrr::map_` functions. It's so bad that I wrote an alternative function for a project I am doing at the moment which is ~200 times faster. A reprex is below for the current `parse_income_range` function (11.2 seconds for just 10e4 values

[2021-11-14 00:27] bennywee commented on #68
Thanks @wfmackey this is great. I've had a look at both your function and the `parsed_income_range` function.

I noticed that both functions perform the string manipulation on each element of the raw_income column. The raw_income column has many repeated values in the dummy_data (and I assume also in real data where this transformation is being used).

I think we can speed up the `parsed_income_ra

[2021-11-15 10:51] bennywee commented on #68
So instead of re-writing `parse_income_range`, I created a wrapper function that follows the same logic as above. I ran `parse_income_wrapper` using the tests found in `test-parse_income.R` which all passed. The results below show a speed improvement too!

[code]

[2021-11-15 23:58] martintburgess commented on #44
Works great, thanks @bennywee and @wfmackey. I'll close.

[2021-11-15 23:58] #44 closed

[2021-11-30 23:56] bryceroney opened #73 "Update pkgdown to v2.0.0"
pkgdown 2 has a [bunch of new features](https://github.com/r-lib/pkgdown/releases/tag/v2.0.0) and a nicer UI.

[2021-12-07 11:07] bennywee commented on #68
@wfmackey - curious about your thoughts on this. [@cynthiahqy](https://github.com/cynthiahqy) and I were having a discussion about implementing this solution.

The question we discussed was how should this wrapper function be implemented in the package (or at all).  `parse_income_range` works as intended, so there is nothing technically wrong here. On the other hand, there is an opportunity to imp

[2021-12-07 12:19] wfmackey commented on #68
This is great @bennywee and @cynthiahqy, and sorry for the slow reply to your initial suggestion! (we should really look into a workflow that isn't held up by my absence -- sorry).

The lookup table + `_join` approach makes much more sense! Good idea. We should implement that.

The original `parse_income_range` function is terribly implemented as it is (I can say that because I wrote it lol). I th

[2021-12-08 09:26] HughParsonage commented on #68
Consider the following pure R function for the `lower` limit:

[code]

On my machine it is about 5x faster than the fastest solution above and 15,000 times faster than the current function. To enable the features provided by the other arguments would be a matter of switching the `sub` pattern and perhaps adding a few lines like `u_out[<cond>] <- <value>` at the end.

[2021-12-15 00:24] wfmackey opened #75 "add SACC country codes"

[2021-12-15 01:25] wfmackey opened #76 "add ANZSCO '2021 Australian Update'"
as `anzsco2021`: https://www.abs.gov.au/statistics/classifications/anzsco-australian-and-new-zealand-standard-classification-occupations/latest-release

[2021-12-16 07:17] #76 closed

[2022-04-21 08:47] cynthiahqy commented on #5
@wfmackey I might be able to help with this if someone can:
a) point me to a commonly needed transformation (e.g. from ASCO to ANZSCO?) -- ideally single step
b) point me to the relevant correspondence table (assuming it exists), or talk me through the sensible way to do the correspondence (e.g. population weights)
c) tell me how to get the relevant data

I'm writing some how-to vignettes for my p

[2022-04-22 01:31] wfmackey commented on #5
thanks @cynthiahqy ! A good place to start might be ASCO to ANZSCO (as you suggested).

Detailed correspondence tables between [ANZSCO Revision 1 and ASCO Second Edition](https://www.ausstats.abs.gov.au/ausstats/subscriber.nsf/0/F30E72E1516495BDCA2575DF001C7441/$File/12200%20anzsco%20first%20edition%20revision%201%20to%20asco%20second%20edition%20correspondence%20tables.xls) can be found at that l

[2022-04-22 08:19] cynthiahqy commented on #5
cheers @wfmackey, where can I find data reported in the ASCO structure -- an ABS dataset I presume?

[2022-04-26 23:56] wfmackey commented on #5
sorry for the slow reply @cynthiahqy. It looks like getting ASCO in a usable format will be more difficult than I first thought. I'll keep searching and add it at some point.

For the mean time, how about ANZSCO-2021 to ISCO-08? The ISCO-08 file can be found here: https://www.ilo.org/ilostat-files/ISCO/newdocs-08-2021/ISCO-08/ISCO-08%20EN.csv
And the correspondence table can be found here: https:/

[2022-04-30 12:26] cynthiahqy commented on #5
@wfmackey no rush at all.

Just to clarify, what kind of correspondence function do you have in mind?:

1. a per-code lookup -- e.g. take **ONE** ANZSCO6 digit, and correspond it to ALL matching ISCO-08 code, independent of data? -- i.e. something similar to [`concordance::concord()`](https://github.com/insongkim/concordance#concording-different-classification-codes)
2. OR data transformation -- i

[2022-04-30 22:57] wfmackey commented on #5
I had number 1 in mind, where the user would provide a vector of original codes/names and gets corresponded codes or names in return.

But I am interested in how the second option would work!

[2022-05-17 04:37] charlescoverdale opened #80 "Tiny but annoying typo in the readme"
Hey Will,

I spent 10 minutes wondering why my code wouldn't work this arvo - then realized the line at the end of the readme 'See ?strayr::read_absmaps.' should actually be 'See ?strayr::read_absmap'

Tiny issue - but thought I'd flag.

Thanks!

C

[2022-05-17 04:50] MattCowgill commented on #80
thanks @charlescoverdale, I've fixed it in a PR

[2022-05-17 11:15] #80 closed

[2022-06-03 00:01] MattCowgill opened #82 "Add ANZSIC-ISIC correspondence table"

[2022-08-05 01:59] MattCowgill opened #84 "Edge cases not captured by `clean_anzsco`"
Even with `fuzzy_match = TRUE`:

[code]

<sup>Created on 2022-08-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-09 03:10] daviddiviny commented on #84
At a minimum, we should include:
![image](https://user-images.githubusercontent.com/6833387/183555328-1ca57ad1-d1a8-4b6d-936f-2cf58adece9b.png)

[2022-08-09 07:29] daviddiviny commented on #84
So @MattCowgill  - I was just looking into your reprex in more detail. The issue is that the ANZSCO Unit Group is the plural version "Middle School Teachers \\ Intermediate School Teachers" and the ANZSCO occupation is the singular version "Middle School Teacher \\ Intermediate School Teacher".

Any ideas on what the proper behaviour of 'clean_anzsco' should be?

[2022-08-16 04:52] MattCowgill opened #85 "Add equivalents of `state.name` and `state.abb`"

[2022-08-16 04:53] MattCowgill commented on #84
Argh how annoying. Not sure tbh, let's think about it...

[2022-08-16 05:25] daviddiviny commented on #84
Also, just putting this here for reference. The ATO has their own custom version of ANZSCO6 with additional occupations. See [here](https://www.ato.gov.au/Individuals/Tax-return/2022/In-detail/Publications/Salary-and-wage-occupation-codes-2022/?page=2).